{% set pageTitle = 'Аренда помещений - Гагаринский' %}
{% set pageDescription = 'Торгово-складской комплекс Гагаринский: аренда помещений в Ижевске' %}

{% extends "layouts/default.njk" %}

{% block mainContent %}

    <div data-react-component="premises"></div>

{% endblock %}